// app global css in SCSS form
@import "common";
.position-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.w-300 {
  width: 300px;
}

.f-card {
  background: #ffffff;
}
.mr-8 {
  margin-right: 8px;
}
